@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Skranji:wght@400;700&family=Varela+Round&display=swap');


.cuerpo-seccion4{
    width: 100%;
    /* border: 1px solid black; */
    padding: 10px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cuerpo-seccion4-contenedor{
    /* border: 1px solid black; */
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
}

.cuerpo-seccion4-contenedor-letras-titulo{
    color: white;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.cuerpo-seccion4-contenedor-cajas{
    /* border: 1px solid black; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 200px;
    gap: 20px;
    
}

.caja{
    width: 300px;
    height: 200px;
    /* border: 1px solid black; */
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.caja-logo{
    width: 100%;
}
.caja-logo-cuadro{
    width: 52px;
    height: 47.78px;
    /* border: 1px solid black; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.caja-logo-cuadro-1{
    background-color: #FFDED4;
}

.caja-logo-cuadro-2{
    background-color: #FFEED4;
}

.caja-logo-cuadro-3{
    background-color: #D4F0FF;
}

.caja-letras-titulo{
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
}

.caja-letras-descripcion{
    margin-top: 60px;
    color: black;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 200;
    line-height: 1.5;
    margin-top: 0;
}
