.cuerpo-seccion2{
    width: 100%;
    /* border: 1px solid black; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px;
}

.cuerpo-seccion2-logos{
    width: 75%;
    /* border: 1px solid black; */
}
.cuerpo-seccion2-letras{
    color: #CFDCED;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    line-height: 1;
    margin-top: 0;
    font-family: Inter;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.cuerpo-seccion2-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

@media (max-width: 600px) {
    
    .cuerpo-seccion2 {
        margin-top: 120px; /* Reducido de 100px */
        padding: 0;
    }

    .cuerpo-seccion2-letras{
        color: #667085;
        font-family: Inter;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
    }
    

    .cuerpo-seccion2-logos{
        width: 100%;
        margin-top: 3vh;
    }

    .cuerpo-seccion2-logos img{
        height: 28px;
        
    }
}