@import url('https://fonts.googleapis.com/css2?family=Anton&family=Inter:wght@100..900&family=Skranji:wght@400;700&family=Varela+Round&display=swap');

.cuerpo-seccion3{
    width: 100%;
    padding: 10px;
    margin-top: 75px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.cuerpo-seccion3-contenedor{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.cuerpo-seccion3-contenedor-imagen{
    width: 35%;
}

.cuerpo-seccion3-contenedor-letras{
    width: 41%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

.cuerpo-seccion3-contenedor-letras-titulo{
    color: #272D38;
    font-family: "Inter", sans-serif;
    font-size: 3vw;
    font-weight: 750;
    line-height: 1;
    margin-bottom: 0;
}

.cuerpo-seccion3-contenedor-letras-titulo-descripcion{
    color: #272D38;
    width: 392px;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27.5px;
    margin-top: 0;
}

@media (max-width: 600px) {
    .cuerpo-seccion3-contenedor{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        padding: 0 15px;  /* añadimos padding lateral para centrar mejor */
        margin-top: 60px;
    }

    .cuerpo-seccion3-contenedor-letras{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;  /* Cambiado a center para alinear todo al centro */
    }

    .cuerpo-seccion3-contenedor-letras-titulo{
        color: #272D38;
        font-family: "Inter", sans-serif;
        font-size: 38px;
        font-weight: 700;
        line-height: 1;
        margin-bottom: 12px;
        text-align: center;
        width: 100%;  /* Asegura que ocupe todo el ancho disponible */
    }

    .cuerpo-seccion3-contenedor-letras-titulo-descripcion{
        color: #272D38;
        font-family: "Inter", sans-serif;
        font-size: 15px;
        font-weight: 415;
        line-height: 27.5px;
        margin-top: 0;
        text-align: center;
        text-transform: capitalize;
        width: 100%;  /* Se ajusta al 100% del ancho para mejor centrado */
        max-width: 650px;  /* Limita el ancho máximo para que coincida con la imagen */
    }

    .cuerpo-seccion3-contenedor-imagen{
        width: 96%;
    }
}